@import './variables/media-queries';
@import './variables/colors';

.footer {
    @include desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    &-logo {
        padding: 45px 0 0 16px;
        @include desktop {
            padding: 0 47px;
        }
    }
    &-nav {
        display: flex;
        @include desktop {
            flex: auto;
        }
        &-links {
            display: flex;
            flex-direction: column;
            margin: 25px 0 32px 16px;
            & a {
                padding: 11px 0;
                margin-bottom: 8px;
                text-decoration: none;
                color: $dark;
                text-transform: uppercase;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.32;
                font-weight: 400;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
    &-last {
        &-socials {
            display: flex;
            flex-direction: row;
            margin: 0 0 30px 16px;
            @include desktop {
                margin: 0 24px 20px 0;
            }
            & div {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                width: 30px;
                margin-right: 20px;
                @include desktop {
                    height: 48px;
                    width: 48px;
                    margin-right: 15px;
                }
                & img {
                    opacity: 0.54;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.3;
                    }
                    @include desktop {
                        height: 25px;
                        width: 25px;
                    }
                }
                #google {
                    opacity: 1;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.7;
                    }
                    @include desktop {
                        height: 35px;
                        width: 35px;
                    }
                }
            }
        }
        &-pp {
            margin: 0 36px 0 16px;
            @include desktop {
                text-align: right;
            }
            & p {
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.07;
                font-weight: 500;
                opacity: 0.54;
            }
        }
    }
}
